<div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-users text-danger"></i> Une pratique pour tous</h3>
                    <p>Les techniques d’Aïkido basées sur l’utilisation de la force de l’adversaire, ne nécessitent pas d’aptitudes physiques particulières. Le travail musculaire se fait naturellement en accord avec la constitution de chacun ; c’est pourquoi l’Aïkido est aussi pratiqué quotidiennement par nombre d’adultes. La pratique convient aussi très bien aux femmes, et aux plus <a href="jeunes.html">jeunes</a> car la force physique pure n’est pas utilisée.</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-dot-circle-o text-danger"></i> Art martial sans compétition</h3>
                    <p>L’Aïkido n’est pas un sport et il exclut toute idée de compétition, il mérite d’être classé comme Art en ce sens qu’il amène à rechercher l’harmonie du corps et de l’esprit!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-trophy text-danger"></i> L’Aïkido est un Budo</h3>
                    <p>C’est une méthode d’éducation dont le but est d’utiliser les techniques martiales issues des Bujutsu (arts de la guerre) japonais pour nous améliorer autant sur le plan physique que moral. Créé au début du siècle sous l’impulsion de <a href="history.html">Maître Morihei UESHIBA</a> (1883-1969), l’Aïkido fait la synthèse des anciens arts de combat destructeurs dans le but de rechercher à désarmer l’adversaire plutôt que de l’abattre, de neutraliser ses intentions agressives.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->