<div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <img class="img-responsive" src="images/photo/4249.jpg">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h2>L'efficacité en Aïkido</h2>
                    <p>Les techniques d’Aïkido utilisent des projections et des immobilisations pouvant être accompagnées d’atémis.
                        L’Aïkido utilise essentiellement l’esquive, la non resistance et les déplacements.</p>
                        <p>Le principe fondamental consiste à faire le vide devant l’adversaire en évitant de s’opposer directement à son attaque et en s’intégrant dans l’action qu’il a engagée.</p>
                        <p>Les mouvements d’Aïkido, très fluides, s’inscrivent essentiellement dans des cercles et des spirales avec un travail important de respiration, de concentration, de recherche d’harmonie et d’énergie dans le mouvement.
                            L’aspect séduisant des techniques fluides et l’élégance des déplacements, ne diminuent en rien l’efficacité de l’Aïkido.</p><p>
                            Exécutées dans la réalité du combat les techniques d’Aïkido peuvent être redoutables.
                            Elles le sont d’autant plus que par nature elles amènent le pratiquant à dépasser la recherche de la perfection technique pour se libérer de la peur et des tensions.</p>
                            <p>L’Aïkido n’est pas un sport, car il exclut toute idée de compétition, il mérite d’être classé comme Art en ce sens qu’il conduit à rechercher l’harmonie du corps et de l’esprit.</p>
                            <center><i class="fa fa-3x fa-ellipsis-h text-danger"></i></center>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->
            
    <div class="section-colored">
        <div class="container">
            <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h2>Un art de vivre</h2>
                            <h3>Disponibilité</h3>
                            La pratique de l’Aïkido permet :
                            <ul><li>le développement des réflexes et de la coordination</li>
                                <li>l’amélioration de la souplesse et de la tonicité</li>
                                <li>la disponibilité du corps : base de l’épanouissement mental</li></ul>

                                <h3>Harmonie</h3>

                                <p>En cultivant des attitudes exemptes d’agressivité, l’individu dispose de toutes ses ressources pour créer une réponse adaptée, dans l’action simultanée du corps et du mental.<p>

                                    <h3>Epanouissement</h3>

                                    <p>Cette recherche mène à la découverte des comportements d’un être humain accompli déterminé, conscient de ses possibilités, et de ses limites, apte à utiliser toutes ses facultés pour résoudre les tensions qu’il rencontre chaque jour dans notre société.
                                        Par l’acquisition d’une plus grande connaissance de soi, l’Aïkido vise à l’harmonisation de l’homme avec son environnement et à une meilleure compréhension des autres. Au delà il propose une vision de l’homme en tant qu’élément de l’univers.</p>

                                        <h3>Bien être</h3>

                                        <p>Cette recherche mène à la découverte de ses possibilités personnelles et à leur développement, à l’harmonie de ses relations avec les autres, et à un bien être physique, mental indispensable pour mieux resister aux tensions et aux stress quotidiens.</p>
                                        <center><i class="fa fa-3x fa-ellipsis-h text-danger"></i></center>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <center><img class="img-responsive" src="images/pratique.jpg"></center>
                                    </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section-colored -->

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Suivez le lien pour voir quelques <a href="portfolio-3-col.html">photos</a> vous présentant le club</h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section -->
