
        <div class="row">
            <div class="col-lg-12 ">
                <img class="img-responsive " src="images/jeunes.png" style="margin-top:-24px">
                <ul  class="list-unstyled list-inline list-social-icons pull-right">
                        <li class="tooltip-social facebook-link"><small>Illustratrice : Christelle Lecuret </small><a href="https://www.facebook.com/pages/Christelle-Lecuret-Illustrations/238134186331371" itemprop="url" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                        </li>
                    </ul>
            </div>
        </div>

        <!-- /.row -->


        <div class="row">

            <div class="col-md-8">
                <h3 class="page-header"><i class="fa fa-thumbs-up text-danger"></i> Un apprentissage de valeurs morales</h2>
                    <p> Travailler "AVEC" (et non "contre") l'autre est au coeur de l’Aïkido. Cet enseignement permet aux enfants de canaliser leur énergie dans une discipline martiale non-violente et de se familiariser avec des valeurs de respect des autres et de soi-même : respect de l'intégrité physique, générosité, honneur, courtoisie.</p>
                </div>

                <div class="col-md-4">
                    <h2 class="page-header"><i class="fa fa-smile-o text-danger"></i> Une approche ludique</h2>
                    <p>Pour les plus jeunes, l'apprentissage commence par la maitrise des chutes, la représentation du corps dans l’espace, la coordination avant d'entamer l'apprentissage de techniques (adapté à la morphologie et aux capacités d’attention des enfants).</p>
                </div>

            </div>
            <!-- /.row -->

            <!-- Service Tabs -->



        </div>
        <!-- /.container -->
   <div class="container">
      <div class="row">    <!-- /.row -->
        <div class="isotope">
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/1483.jpg" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_8997.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_8999.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9017.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9029.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9067.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9083.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9090.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9128.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9139.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9186.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9205.JPG" /></div>
</div>
</div>
</div>