{% extends "skeleton.html" %}

  {% set breadcrumbh1 = 'FAQ <small>Questions fréquentes</small>' %}
  {% set breadcrumbtitle = 'FAQ' %}


  {% block content %}

        <div class="row">

            <div class="col-lg-12">

                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Y a-t-il des ceintures de couleur en Aïkido ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                Les niveaux correspondant aux ceintures colorées existent (on parle de <a href="http://fr.wikipedia.org/wiki/Kyu">Kyu</a>) mais nous conservons une ceinture blanche jusqu'à l'obtention de la ceinture noire (du sixième kyu au premier kyu). La ceinture noire correspond au premier grade (on parle de <a href="http://fr.wikipedia.org/wiki/Dan_(grade)">Dan</a>) validant une "connaissance formelle des techniques" d'Aïkido.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    A quoi correspond la "jupe" noire que porte une partie des pratiquants ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                Il s'agit d'un pantalon large à 7 plis appellé <a href="http://fr.wikipedia.org/wiki/Hakama">Hakama</a>. La décision d'autoriser un élève à le porter est laissée à la discrétion de l'enseignant. Au sein de notre club, le Hakama est autorisé aux pratiquants ayant atteind le premier kyu (équivalent à la ceinture marron).
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Pratique-t-on aussi l'Aïkido avec des armes ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                L'Aïkido est une discipline qui se pratique essentiellement à mains nues sur des actions de saisies et de frappes contre un ou plusieurs adversaires. Mais cette discipline fait aussi appel au maniement de plusieurs armes traditionnelles : le <a href="http://fr.wikipedia.org/wiki/Bokken">bokken</a> (sabre d’entraînement en bois), le <a href="http://fr.wikipedia.org/wiki/J%C5%8D_(arme)">jo</a> (bâton) et le <a href="http://fr.wikipedia.org/wiki/Tant%C5%8D">tanto</a> (couteau en bois). Le travail avec les armes est très enrichissant car une partie des techniques utilisées à mains nues découlent des techniques faisant appel aux armes.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    L'Aïkido dispose-t-il d'une fédération ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                Notre club est affilié à la Fédération Française d’Aïkido, Aïkibudo et Affinitaires (<a href="http://www.aikido.com.fr/">FFAAA</a>), l’une des principales fédérations d’arts martiaux en France, agréée par l’Etat et membre de la Fédération Internationale d’Aïkido. Nous faisons partie de <a href="http://www.aikido-bourgogne.com/">la ligue Bourgogne</a>.Nos enseignants sont des professeurs diplômés. Cette fédération nous permet de proposer des passages de grades reconnus par l'état.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    J'ai lu que l'Aïkido était pratiqué par de nombreuses femmes. N'est-ce pas trop dur ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                L'Aïkido est basé sur l’utilisation de la force de l’adversaire; Les techniques intègrent un travail autour des articulations mais cherchent à éviter l'usage la force physique. Cette particularité rend l'Aïkido accessible au plus grand nombre : quelle que soit votre morphologie, votre sexe ou votre age. N'hésitez pas à venez assister à un cours et vous constaterez par vous même que femmes ou hommes pratiquent sans problème.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    A quoi correspondent les stages? Est-ce obligatoire ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse">
                            <div class="panel-body">
                                Non, les stages ne sont pas obligatoires mais il est conseillé d'y participer régulièrement. Il n'y a pas de compétition en Aïkido. Ces <a href="http://www.stages-aikido.fr/">stages</a> constituent donc l'occasion de pratiquer avec des personnes de clubs différents. Appronfondir les techniques avec d'autres enseignants et travailler avec une multitude d'Aïkidokas vous permettra de vous améliorer plus rapidement.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    Faut-il avoir déjà pratiqué un art martial avant de venir à l'Aïkido ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse">
                            <div class="panel-body">
                                Non, ce n'est pas la peine. Au club, vous rencontrerez des gens pour qui l'Aikido est le premier art martial pratiqué. A l'inverse, il y a aussi des personnes qui sont venues à l'Aïkido après plusieurs années de Judo, Karaté ... L'absence de compétition et le travail sur soi que l'Aïkido propose sont deux atouts permettant d'ouvrir la pratique au plus grand nombre (<a href="jeunes.html">jeune</a> ou sénior, femme ou homme).
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}
