<div class="container">
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                <a href="#" class="modal-trigger" data-modal="modal-mentions">Mentions légales </a>
                •
                Copyright &copy; Aïki Club Genlis
                </div>
            </div>
        </footer>

    </div>
        <div class="modals">
                <!-- Mentions légales modal -->
            <div class="modal-container modal-mentions">
                <div class="modal-top">
                    <div class="modal-title">Mentions&nbsp;légales</div>
                    <div class="modal-cross modal-close"></div>
                </div>
                <div class="modal-content">
                    <div class="article">
                        <h6>1. Objet du site</h6>
                        <p>Ce site est ouvert à tous afin de faire connaitre notre club et cet art martial qu’est l’Aïkido.</p>
                        <h6>2. Propriété Intellectuelle</h6>
                        <p>
Tous les textes, photos et vidéos, ainsi que la charte graphique sont la propriété exclusive du club Aïki Club Genlis.
Toutes les données concernant les membres enregistrés sur ce site sont modifiables ou supprimables par le webmaster sur simple demande conformément à la loi en France par le ou les personnes concernées.
Toutes les photos et vidéos contenant un aperçu visible et reconnaissable d’une ou plusieurs personnes peuvent être retirées par le webmaster sur simple demande par la ou les personnes concernées.</p><p>
Toute personne étrangère au club ou à la manifestation apparaissant sur les photos et vidéos ne serait que pure coïncidence et ne saurait faire l’objet de suppression des photos ou vidéos concernées. Un éventuel floutage pourra être appliqué sur le support concerné avant dépôt sur le site.
Aucune demande par voie électronique ne pourra être prise en compte mais uniquement en écrit sur support papier et expédiée par voie postale à l’adresse du club afin d’être traitée par les dirigeants du club.
                        </p>

                     </div>
                    <div class="article">
                        <h6>3. Mentions&nbsp;légales</h6>
                        <p><strong>Raison sociale</strong> : Aïki-Club Genlis (association déclarée, crée le 11/02/2005)</p>
                        <p><strong>SIREN</strong> : 512241 407; <strong>SIRET</strong> : 512241407 00018</p>
                        <p><strong>APE</strong> : 9312Z / Activités de clubs de sports</p>
                        <p>Hébergeur : OVH 2 rue Kellermann, 59100 Roubaix, France. Webmaster : Cédric Lecuret <span class="tooltip-social google-plus-link"><a href="https://plus.google.com/110281383462156714559" data-toggle="tooltip" data-placement="top" rel="author" title="Google"><i class="fa fa-google-plus-square"></i></a>
                        </span></p>
                    </div>
                </div>
            </div>
        </div>