{% extends "skeleton.html" %}

  {% set breadcrumbh1 = 'Histoire <small>de l\'Aïkido</small>' %}
  {% set breadcrumbtitle = 'Histoire' %}


  {% block content %}
          <div class="row">

            <div class="col-md-4">
                <img class="img-responsive" src="images/Morihei-Ueshiba.jpg" alt="Morihei-Ueshiba" title="By Morihei Ueshiba (www.aikidocenterofmiami.com) [Public domain], via Wikimedia Commons">
            </div>
            <div class="col-md-8">
                <h2>Morihei UESHIBA</h2>
                <p>Né le 14 décembre 1883, le créateur de cet art martial, Morihei UESHIBA, était un enfant de faible constitution. Il s’intéressa très tôt à la vie spirituelle et religieuse. Afin d’équilibrer cette tendance, ses parents l’encouragèrent à poursuivre des activités physiques telles que le sumo et la natation. A 20 ans, lors d’un voyage à Tokyo, il suivit l’enseignement du tenjin shin-yô-ryû (une an-cienne forme de Ju-Jitsu). En parallèle, il perça les secrets du Ken-Jutsu (techniques de sabre transmises depuis le 12ème siècle par les combattants de la famille Minamoto).</p><p>


                En février 1915, il rencontra le maître de l’école Daïto : <a href="http://fr.wikipedia.org/wiki/Sokaku_Takeda">Sokaku TAKEDA</a> (expert dans l’art de manier le sabre et disciple de <a href="http://fr.wikipedia.org/wiki/Sa%C3%AFgo_TANOMO">Saïgo TANOMO</a> appartenant à la caste guerrière Aïzu). Ce dernier accepta de lui enseigner les techniques secrètes du Daïto-ryû aïki-jutsu (système d’autodéfense).</p><p>

                Très peiné par la mort de son père en janvier 1920, Maître UESHIBA décida de se retirer à Ayabe, dans un temple, sous la direction de Wanisaburo DEGUCHI. C’est pendant cette période de méditation, que Morihei UESHIBA eut la révélation que le vrai budo n’est pas de vaincre un adversaire par la force, mais de garder la paix en ce monde. C’est ainsi que naquit l’Aïkido.</p><p>

                En avril 1931, Le Maître s’installa dans un quartier de Tokyo, dans un dojo nouvellement construit, auquel il donna le nom de KOBUKAN. Ce n’est qu’en 1948, après avoir été fermé par les américains pendant la guerre, que ce dojo pris le nom d’<a href="http://www.aikikai.or.jp/eng/index.htm">AIKIKAI</a>.</p><p>

                Après la guerre, l’Aïkido fut le premier art martial qui reçut l’autorisation de reprendre la pratique en raison de sa tendance pacifiste. Dés lors, le nombre des élèves ne fit qu’augmenter et c’est à cette époque que naquit vraiment la forme moderne d’Aïkido.</p><p>

                En avril 1969, lorsque le Maître mourut, l’Aïkido était pratiqué par des centaines de milliers de personnes sur les cinq continents.

            </p>
        </div>

    </div>
    <div class="row">


        <div class="col-md-10">
            <h2>Origines de l'Aïkido</h2>
            <p>Aïkido signifie "voie" (do) de "l'union" (aï) des "énergies" (ki) aussi traduit par "voie de la non-violence".</p><p>
            L’Aïkido est un art martial imprégné de la tradition chevaleresque Japonaise dont il est l’un des aboutissements. 
            Créé au début du siècle sous l’impulsion de Maître Morihei UESHIBA (1883-1969), l’Aïkido fait la synthèse des anciens arts de combat destructeurs dans le but de rechercher à désarmer l’adversaire et plutôt que de l’abattre, de neutraliser ses intentions agressives. 
            De portée universelle, l’Aïkido s’est répandu dans le monde entier en conservant l’esprit et les valeurs qui lui ont donné naissance; ainsi chacun peut pratiquer l’Aïkido sans abandonner sa propre culture.
        </p>
    </div>
    <div class="col-md-2">
        <img class="img-responsive" title="By Hazmat2 (Own work) [Public domain], via Wikimedia Commons"  alt="合氣道" src="images/aikido.svg">
    </div>

</div>
<div class="row">

    <div class="col-lg-12">
        <p></p>
    </div>

</div>

</div>
<!-- /.container -->
{% endblock %}