{% extends "skeleton.html" %}

  {% block breadcrumb %}
  {% endblock %}

  {% block index %}
   {{ include('slider.html') }}
    <div class="row ">
      <div id="mainnews" class="col-lg-12 col-md-12">
          <h3>{{mainnews}}</h3>
          <h4>{{subnews}}</h4>
      </div>
    </div>

    {{ include('caracteristiques.html') }}

    <div class="section-colored text-center">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12">
                    <h1>Horaires des cours adultes</h1>
                </div>
            </div>
            <div class="row">
                {% for day,timeslot in timeslots %}
                {{ include('render_timeslot.html') }}
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.section-colored -->
    {{ include('endbodyindex.html') }}
    
{% endblock %}
{% block extrascript %}
<script type="text/javascript" src="js/index-slider.js"></script>
{% endblock %}