{% extends "skeleton.html" %}

  {% set breadcrumbh1 = 'Cours Jeunes <small>de 7 à 14 ans</small>' %}
  {% set breadcrumbtitle = 'Jeunes' %}


  {% block content %}
    <div class="row">
        <div id="mainnews" class="col-lg-12 col-md-12">
          <h3>{{mainnews}}</h3>
          <h4>{{subnews}}</h4>
        </div>
    </div>
    <br/>
    <div class="row ">
    <div class=" col-lg-12 section-colored text-center">
            <div class="row ">
                <div class="col-lg-12">
            <h1>Horaire du cours enfant</h1>
        </div>
    </div>
            <div class="row">
                {% for day,timeslot in timeslots %}
                {{ include('render_timeslot.html') }}
                {% endfor %}
            </div>
            <!-- /.row -->
    </div>
    </div>
    
    {{ include('endbodyjeunes.html') }}

{% endblock %}
{% block extrascript %}
<script src="js/isotope.pkgd.min.js"></script><script src="js/imagesloaded.pkgd.min.js"></script><script type="text/javascript" charset="utf-8" async defer> var $container = $('.isotope');$container.isotope({itemSelector: '.element-item',layoutMode: 'fitRows'}); imagesLoaded($container, function() {$container.isotope('layout');});</script>
{% endblock %}