{% extends "skeleton.html" %}

  {% set breadcrumbh1 = 'La photothèque de <small>l\'Aïki Club Genlis</small>' %}
  {% set breadcrumbtitle = 'Photothèque' %}


  {% block content %}
        <div class="row">    <!-- /.row -->
<div class="col-lg-12 text-center">
    <div id="filters" class="btn-toolbar" role="toolbar" >
  <button type="button" class="btn  btn-default" data-filter-value="*">Toutes</button>
  <button type="button" class="btn  btn-default" data-filter-value=".jeunes">Jeunes</button>
  <button type="button" class="btn  btn-default" data-filter-value=".armes">Armes</button>
  <button type="button" class="btn  btn-default" data-filter-value=".stages">Stages</button>
  </div>
  </div>
  </div>
        <div class="isotope">
<div class="element-item stages" ><img class="img-responsive " src="images/photo/4276.jpg" /></div>
<div class="element-item stages" ><img class="img-responsive" src="images/photo/4280.jpg" /></div>
<div class="element-item stages" ><img class="img-responsive" src="images/photo/1304.jpg" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/1483.jpg" /></div>

<div class="element-item stages" ><img class="img-responsive" src="images/photo/4251.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4542.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/8899.jpg" /></div>

<div class="element-item stages" ><img class="img-responsive" src="images/photo/1305.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4572.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/9062.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4550.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/9190.jpg" /></div>
<div class="element-item stages" ><img class="img-responsive " src="images/photo/4249.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/1505.jpg" /></div>
<div class="element-item stages" ><img class="img-responsive " src="images/photo/4100.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4600.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/8931.jpg" /></div>

<div class="element-item stages" ><img class="img-responsive" src="images/photo/4099.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4534.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/9079.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4557.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/9269.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/8994.jpg" /></div>
<div class="element-item armes" ><img class="img-responsive " src="images/photo/4617.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/9149.jpg" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/9297.jpg" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_8997.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_8999.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9017.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9029.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9067.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9069.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9083.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9090.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9127.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9128.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9136.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9139.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9141.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9142.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9148.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9154.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9170.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9186.JPG" /></div>
<div class="element-item jeunes" ><img class="img-responsive" src="images/photo/DSC_9205.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9212.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9216.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9222.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9239.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9248.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9253.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9260.JPG" /></div>
<div class="element-item armes" ><img class="img-responsive" src="images/photo/DSC_9265.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9272.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9279.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9287.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9289.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9293.JPG" /></div>
<div class="element-item " ><img class="img-responsive" src="images/photo/DSC_9302.JPG" /></div>
</div>
<hr>
</div>
<!-- /.container -->
{% endblock %}
{% block extrascript %}
<script src="js/isotope.pkgd.min.js"></script><script src="js/imagesloaded.pkgd.min.js"></script><script type="text/javascript" charset="utf-8" async defer>var $container = $('.isotope'); $container.isotope({itemSelector: '.element-item',layoutMode: 'masonry'});$('#filters').on( 'click', 'button', function() {var filterValue = $( this ).attr('data-filter-value');$container.isotope({ filter: filterValue }); }); imagesLoaded($container, function() {$container.isotope('layout');});</script>
{% endblock %}