<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48323092-1', 'aikiclub-genlis.fr');
  ga('send', 'pageview');
  </script>
  <script src="js/jquery-1.12.4.js"></script>
  <script type="text/javascript" src="js/jquery.modal.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/modern-business.js"></script>
  <script src="js/aikiclubgenlis.js"></script>