<section id="feature_slider" class="">
        <article class="slide active" id="welcome" style="background-image: url(images/dojo.jpg); display: block; background-position: 50% 0%; background-repeat: repeat no-repeat;">
            <div class="info" style="display: block;">
                <h2>
                    Bienvenue à l'<strong>Aïki Club Genlis</strong>
                </h2>
            </div>
        </article>
        <article class="slide " id="welcome" style="background-image: url(images/backtoschool.png); display: block; background-position: 50% 0%; background-repeat: repeat no-repeat;">
          <div class="info" style="display: block;">
              <h2>
                  
              </h2>
          </div>
        </article>

                <article class="slide" id="life" style="background-image: url(images/dojo2.jpg); display: none; background-position: 50% 0%; background-repeat: repeat no-repeat;">

            <div class="info" style="display: none;">
                <h2>Un art martial sans compétition</h2>
            </div>
        </article>
        <article class="slide" id="nocompetition" style="background: url('images/dojo5.jpg') repeat-x top center;">
            <div class="info">
                <h2>Plus qu'une activité</h2> <h2>sportive,</h2> <h2>un art de vivre</h2>
            </div>
        </article>

    </section>